{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">


    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    
    
    <!-- popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.8/umd/popper.min.js" integrity="sha512-TPh2Oxlg1zp+kz3nFA0C5vVC6leG/6mm1z9+mA81MI5eaUVqasPLO8Cuk4gMF4gUfP5etR73rgU/8PNMsSesoQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    
    
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

    <!-- fontawesome -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">



    <title>{% block title_block %} Video Stream {% endblock %}</title>



    {% comment %} video {% endcomment %}
    
        <!-- Include Plyr CSS -->
        <link rel="stylesheet" href="https://cdn.plyr.io/3.6.8/plyr.css" integrity="sha384-vzWWbQ6rI2Zw5/DQlfo5r3u++RLhl1NWt+ZKF4dkZA7GQvC4LcPWIYgBTa9Ll8K2" crossorigin="anonymous">

        <!-- Include django-embed-video CSS -->
        <link rel="stylesheet" type="text/css" href="{% static 'embed_video/css/embed_video.css' %}">

        <!-- Include Plyr and dependencies JavaScript -->
        <script src="https://cdn.plyr.io/3.6.8/plyr.polyfilled.js" integrity="sha384-yT5+dhb1JH7TRTIZx82o5r0IC+AdY6RaHM6gpiLLyjGkqFIxssq5oc+HHbXqGGaf" crossorigin="anonymous"></script>

        <!-- Include django-embed-video JavaScript -->
        <script type="text/javascript" src="{% static 'embed_video/js/embed_video.js' %}"></script>
            

        <!-- Initialize Plyr -->
        <script>
            document.addEventListener('DOMContentLoaded', function () {
                const players = Plyr.setup('.js-player', {
                    // Plyr options, if needed
                });
            });
        </script>
    {% comment %} video end {% endcomment %}




    {% block css_block %}

    {% endblock %}


</head>
<body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <ul class="navbar-nav">
            <li class="nav-item-active">
                 {% comment %} {% url 'index' %} ekhane kono app_name deya hynay, cz eta main_project_subfolder er urls.py er vitor ache  {% endcomment %}
                <a class="nav-link" href="{% url 'App_Videos:video_lists' %}">Home</a>
            </li>

             <!-- dropdown navigation bar on username-->
            {% if user.is_authenticated %}
                <div clas='nav-item dropdown'>
                    <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                        @{{user.username}}
                    </a>
                
                    <!-- menu items in drop down -->
                    <div class="dropdown-menu">
                        
                        <a class="dropdown-item" href="{% url 'App_Videos:post_video' %}">Post Video</a>
                        {% comment %} <a class="dropdown-item" href="#">Your Profile</a> {% endcomment %}

                        <hr>
                        <a class="dropdown-item" href="{% url 'App_Login:logout'%}">Logout</a>
                        
                    </div>

                </div>


            {% else %}

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'App_Login:signup' %}">Sign Up</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'App_Login:login' %}">Login</a>
                </li>

            {% endif %}
            
        </ul>

    
    </nav>

    <div class="container" style="padding: 30px 0 20px 0">
        {% block body_block %}
        {% endblock %}
    </div>

</body>
</html>